{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "include": [
    "api/*",
    "business/*.js",
    "config/*",
    "helpers/*.js",
    "server.js"
  ],
  "exclude": [
    "config/logger.js",
    "helpers/jwtHelper.js"
  ]
}